<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parenting.guardian.plugin.usagestats">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"
        xmlns:tools="http://schemas.android.com/tools"/>

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission"
        xmlns:tools="http://schemas.android.com/tools"/>

</manifest>
