<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parenting.guardian.plugin.foregroundservice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name="com.parenting.guardian.plugin.GuardForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location|dataSync" />
    </application>

</manifest>
